<h1>Aw the Pizzas!</h1>
<hr />
<% for order in @orders %>
  <p>Name: <%= order.customer.pretty_name() %> </p>
  <p>Order: <%= order.quantity %> x <%= order.topping %></p>
  <p><a class="button show" href="/pizzas/<%=order.id %>">Show Order</a></p>
  <hr />
<% end %>
